@import '../../styles/base/variables';
@import '../../styles/base/clear';

.day {
  width: 780px;
  margin: 0 auto;
  margin-top: 20px;

  @media screen and (max-width: $breakpoint-tablet - 1) {
    width: 100%;

    border: 1px solid $shadow-grey;
    border-radius: 3px;
    background: $lightest-grey;
    box-shadow: 2px 2px 5px $shadow-grey;
  }
}

.day_current {
  border-radius: 3px;
  background-color: $orange;

  & .day__name {
    text-shadow: none;
  }
}

.day__name {
  margin-bottom: 5px;
  padding-top: 10px;

  text-align: center;
  letter-spacing: $font-spacing;

  color: $dark-grey;
  text-shadow: 2px 2px $hover-grey;

  font-family: $main-font-family;
  font-size: $large-font;

  @media screen and (max-width: $breakpoint-tablet - 1) {
    margin-bottom: 10px;

    text-shadow: none;

    font-size: $mobile-large-font;
  }
}

.day__lesson {
  margin-bottom: 5px;

  color: $dark-grey;

  font-family: $main-font-family;
  font-size: $small-font;

  @extend %clear;

  @media screen and (max-width: $breakpoint-tablet - 1) {
    margin-bottom: 20px;

    &:after {
      width: calc(100% - 80px);
      height: 1px;
      margin: 0 auto;
      margin-top: 10px;

      background-color: $shadow-grey;
    }
  }
}

.day__lesson-number {
  float: left;

  width: 60px;
  height: 50px;

  text-align: center;

  line-height: 50px;

  @media screen and (max-width: $breakpoint-tablet - 1) {
    float: none;

    width: 100%;
    height: auto;

    text-decoration: underline;

    font-weight: 700;
    line-height: normal;
  }
}

.day__lesson-time {
  float: left;

  width: 80px;
  height: 50px;

  @media screen and (max-width: $breakpoint-tablet - 1) {
    float: none;

    box-sizing: border-box;
    width: calc(100% - 80px);
    height: auto;
    margin: 0 auto;
    margin-top: 5px;

    border: 1px solid $shadow-grey;
  }
}

.day__time-item {
  height: 25px;

  text-align: center;

  line-height: 25px;

  @media screen and (max-width: $breakpoint-tablet - 1) {
    display: inline-block;
    box-sizing: border-box;

    width: 50%;
    height: auto;

    line-height: normal;

    &:nth-child(1) {
      border-right: 1px solid $shadow-grey;
    }
  }
}

.day__lesson-info {
  float: left;

  width: 500px;
  height: 50px;

  @media screen and (max-width: $breakpoint-tablet - 1) {
    float: none;

    width: 100%;
    height: auto;
    margin-top: 5px;
  }
}

.day__lesson_name {
  overflow: hidden;

  height: 30px;
  padding: 0 20px;

  text-align: center;
  letter-spacing: $font-spacing;

  font-size: $medium-font;
  line-height: 30px;

  @media screen and (max-width: $breakpoint-tablet - 1) {
    height: auto;

    font-size: $mobile-medium-font;
    line-height: normal;
  }
}

.day__lesson_teacher {
  overflow: hidden;

  height: 20px;
  padding: 0 20px;

  text-align: center;

  line-height: 20px;

  @media screen and (max-width: $breakpoint-tablet - 1) {
    height: auto;

    line-height: normal;
  }
}

.day__lesson-place {
  float: left;

  width: 140px;
  height: 50px;

  @extend %clear;

  @media screen and (max-width: $breakpoint-tablet - 1) {
    float: none;

    box-sizing: border-box;
    width: 100%;
    height: auto;
    margin-top: 10px;
    padding: 0 100px;
  }
}

.day__lesson-type {
  float: left;

  width: 40px;
  height: 50px;

  text-align: center;

  line-height: 50px;

  @media screen and (max-width: $breakpoint-tablet - 1) {
    display: inline-block;
    float: none;

    width: 50%;
    height: auto;

    line-height: normal;
  }
}

.day__lesson-room {
  float: left;

  width: 100px;
  height: 50px;

  text-align: center;

  line-height: 50px;

  @media screen and (max-width: $breakpoint-tablet - 1) {
    display: inline-block;
    float: none;

    width: 50%;
    height: auto;

    line-height: normal;
  }
}

.day__end {
  box-sizing: border-box;
  width: 180px;
  margin: 0 auto;
  margin-top: 5px;

  border: 1px solid $light-grey;
  border-radius: 3px;

  @media screen and (max-width: $breakpoint-tablet - 1) {
    display: none;
  }
}
