@import '../../styles/base/variables';
@import '../../styles/base/clear';

.group__title {
  margin-top: 45px;

  text-align: center;
  letter-spacing: $font-spacing;

  color: $dark-grey;
  text-shadow: 3px 2px $hover-grey;

  font-family: $main-font-family;
  font-size: $header-font;
  font-weight: 700;
}

.group__week-title {
  display: block;

  width: 780px;
  margin: 0 auto;
  margin-top: 45px;
  padding: 5px 0;

  text-align: center;

  color: $dark-grey;
  border-radius: 3px;
  background-color: $hover-grey;

  font-family: $main-font-family;
  font-size: $title-font;
}

.group__week {
  @extend %clear;
}

.group__back {
  display: block;

  box-sizing: border-box;
  width: 110px;
  height: 26px;
  margin: 25px auto;

  transition: .25s;
  text-align: center;
  text-decoration: none;

  color: $dark-grey;
  border: 1px solid $light-grey;
  border-radius: 3px;

  font-family: $main-font-family;
  font-size: $small-font;
  line-height: 26px;

  &:hover {
    border-radius: 3px;
    background-color: $hover-grey;
  }
}
