@import '../../styles/base/variables';
@import '../../styles/base/clear';

.group__title {
  margin-top: 45px;

  text-align: center;
  letter-spacing: $font-spacing;

  color: $dark-grey;
  text-shadow: 3px 2px $hover-grey;

  font-family: $main-font-family;
  font-size: $header-font;
  font-weight: 700;

  @media screen and (max-width: $breakpoint-tablet - 1) {
    font-size: $mobile-header-font;
  }
}

.group__week-title {
  display: block;

  box-sizing: border-box;
  width: 780px;
  margin: 0 auto;
  margin-top: 45px;
  padding: 5px 0;

  text-align: center;

  color: $dark-grey;
  border: 2px solid $light-grey;
  border-radius: 3px;

  font-family: $main-font-family;
  font-size: $title-font;

  @media screen and (max-width: $breakpoint-tablet - 1) {
    width: 100%;
    margin-top: 25px;

    text-decoration: underline;

    border: none;

    font-size: $mobile-title-font;
  }
}

.group__week {
  @extend %clear;
}

.group__back {
  display: inline-block;

  width: 100%;
  margin: 25px auto;

  transition: .25s;
  text-align: center;
  text-decoration: underline;
  letter-spacing: .25em;
  text-transform: uppercase;
  font-weight: 700;

  color: $dark-grey;

  font-family: $main-font-family;
  font-size: $small-font;

  &:hover {
    color: $light-grey;
  }
}
