@import '../../styles/base/variables';
@import '../../styles/base/clear';

.search {
  margin-top: calc((100vh / 2) - 20px);

  @media screen and (max-width: $breakpoint-tablet - 1) {
    margin-top: 0;
  }
}

.search__form {
  width: 856px;
  margin: 0 auto;

  @extend %clear;

  @media screen and (max-width: $breakpoint-tablet - 1) {
    width: auto;
    margin: auto;
  }
}

.search__field {
  float: left;

  box-sizing: border-box;
  width: 640px;
  height: 40px;
  padding: 5px 15px;

  color: $light-grey;
  border: 1px solid $light-grey;
  border-radius: 3px;
  outline: none;

  font-family: $main-font-family;
  font-size: $medium-font;

  &::placeholder {
    color: $light-grey;
  }

  @media screen and (max-width: $breakpoint-tablet - 1) {
    display: block;
    float: none;

    width: 100%;
    margin: 0 auto;
    margin-top: calc((100vh / 2) - 50px);
    margin-bottom: 20px;
  }
}

.search__button {
  float: left;

  box-sizing: border-box;
  width: 160px;
  height: 40px;
  margin-left: 56px;

  transition: .25s;
  text-align: center;
  text-decoration: none;

  color: $light-grey;
  border: 1px solid $light-grey;
  border-radius: 3px;
  outline: none;
  background-color: #fff;

  font-family: $main-font-family;
  font-size: $medium-font;

  &:hover {
    cursor: pointer;

    border-radius: 3px;
    background-color: $hover-grey;
  }

  @media screen and (max-width: $breakpoint-tablet - 1) {
    display: block;
    float: none;

    width: 100%;
    margin: 0 auto;
    margin-top: 20px;

    border-radius: 25px;
    background-color: $hover-grey;

    &:hover {
      border-radius: 25px;
    }
  }
}
