@import '../../styles/base/variables';
@import '../../styles/base/clear';

.search {
  margin-top: 80px;
}

.search__form {
  width: 856px;
  margin: 0 auto;

  @extend %clear;
}

.search__field {
  float: left;

  box-sizing: border-box;
  width: 640px;
  height: 40px;
  padding: 5px 15px;

  color: $light-grey;
  border: 1px solid $light-grey;
  border-radius: 3px;
  outline: none;

  font-family: $main-font;
  font-size: $main-font-size;

  &::placeholder {
    color: $light-grey;
  }
}

.search__button {
  float: left;

  box-sizing: border-box;
  width: 160px;
  height: 40px;
  margin-left: 56px;

  transition: .25s;
  text-align: center;
  text-decoration: none;

  color: $light-grey;
  border: 1px solid $light-grey;
  border-radius: 3px;
  outline: none;
  background-color: #fff;

  font-family: $main-font;
  font-size: $main-font-size;

  &:hover {
    cursor: pointer;

    border-radius: 3px;
    background-color: $hover-grey;
  }
}
