@import 'clear';

.container {
  display: block;

  box-sizing: border-box;
  width: $breakpoint-mobile;
  margin: 0 auto;

  @extend %clear;

  @media screen and (min-width: $breakpoint-mobile-landscape) {
    width: $breakpoint-mobile-landscape;
  }

  @media screen and (min-width: $breakpoint-tablet) {
    width: $breakpoint-tablet;
  }

  @media screen and (min-width: $breakpoint-desktop) {
    width: $breakpoint-desktop;
  }
}

.row {
  @extend %clear;
}

@for $i from 1 through $grid-columns {
  .col-#{$i} {
    display: block;
    float: left;

    box-sizing: border-box;
    width: $i * $breakpoint-mobile / $grid-columns - $grid-gutter * 2;
    margin: 0 $grid-gutter;

    @media screen and (min-width: $breakpoint-mobile-landscape) {
      width: $i * $breakpoint-mobile-landscape / $grid-columns - $grid-gutter * 2;
    }

    @media screen and (min-width: $breakpoint-tablet) {
      width: $i * $breakpoint-tablet / $grid-columns - $grid-gutter * 2;
    }

    @media screen and (min-width: $breakpoint-desktop) {
      width: $i * $breakpoint-desktop / $grid-columns - $grid-gutter * 2;
    }
  }
}
