$breakpoint-desktop-large: 1170px;
$breakpoint-desktop: 960px;
$breakpoint-tablet: 768px;
$breakpoint-mobile-landscape: 480px;
$breakpoint-mobile-portrait: 320px;

$grid-columns: 12;
$grid-gutter: 15px;

$main-font-family: 'Lato', sans-serif;
$font-spacing: .025em;

$header-font: 32px;
$title-font: 26px;
$medium-font: 18px;
$little-font: 16px;

$light-grey: #888;
$dark-grey: #676767;
$hover-grey: #eee;
