$breakpoint-desktop-large: 1170px;
$breakpoint-desktop: 960px;
$breakpoint-tablet: 768px;
$breakpoint-mobile-landscape: 480px;
$breakpoint-mobile-portrait: 320px;

$grid-columns: 12;
$grid-gutter: 15px;

$main-font: 'Lato', sans-serif;
$main-font-size: 18px;
$header-font-size: 32px;
$font-spacing: .025em;

$light-grey: #888;
$dark-grey: #676767;
$hover-grey: #eee;
